#container {
    display: inline-grid;
    height: 480px;
    width: 480px;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    position: absolute;
    left: 50%;
    top: 50%;
    gap: 0px;
    transform: translate(-50%, -50%);
}

body { 
    margin:0;padding: 30px;
    text-align:center;
    font-size: x-large;
    font-weight: bold;
  }

.box {
    height: 30px;
    width: 30px;
}
